  <li class="tiles__item no-modal" id="tile{{ID}}">
    {{#if image}}
      {{#if link}}
      <a href="{{link}}" target="_blank">
      <img src="{{image.tile}}" alt="{{title}}" />
      {{else}}
      <img class="zoom" src="{{image.url}}" alt="{{title}}" />
      {{/if}}
      {{#if link}}
      </a>
      {{/if}}
    {{/if}}
  </li>