  <li class="tiles__item item--image" data-type="image" id="tile{{ID}}">
    {{#if image}}
      <img class="zoom" src="{{image.tile}}" alt="{{title}}" />
    {{/if}}
    {{#if inspired_by_name}}
      <p class="inspiration">Created by {{{inspired_by_name}}}{{#if inspired_by_location}} in {{inspired_by_location}}{{/if}}</p>
    {{/if}}
    {{#if description}}
      {{> socialFooter}}
    {{/if}}
  </li>