<div class="modal__footer">
  <div class="social">
    
    <ul data-id={{ID}} class="share share--tile" data-bitly={{bitly}}>
      {{!-- <span class="share__count" id="share{{ID}}">{{popularity}}</span> --}}
      <li><strong>Share this</strong></li>
      <li class="share__item">
        <a class="icon icon--facebook" href="{{permalink}}">share on Facebook</a>
      </li>
      <li class="share__item">
        <a class="icon icon--twitter" href="{{permalink}}">share on Twitter</a>
      </li>
      <li class="share__item">
        <a class="icon icon--email" href="">Share via Email</a>
      </li>

    </ul>
    <p>{{{ download_button_copy }}} {{generic_modal_text}}</p>
  </div>
</div>